<!DOCTYPE html>
<html>
  <head>
    <title>Falae</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <%= render 'layouts/header' %>
      </header>
      <div class="wrapper-bar"></div>
      <div id="container">
        <%#= render 'layouts/container' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
