<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="new-spreadsheet">
  <%= link_to new_user_spreadsheet_path, class: 'new-spreadsheet-button' do %>
    <%= fa_icon 'plus-circle' %>New Spreadsheet
  <% end %>
</div>
<%= render 'layouts/mobile' do %>
  <%= render 'spreadsheets/spreadsheet' %>
<% end %>