<%= render 'layouts/nav_menu_and_view' do %>
  <div class="spreadsheet">
    <%= render 'shared/error', model: @spreadsheet %>
    <div class="button-bar">
      <%= link_to user_spreadsheets_path, class: 'button-box cancel' do %>
        <%= fa_icon 'times' %><%= t 'views.cancel' %>
      <% end %>
    </div>
    <div class="form-box">
      <div class="label"><%= t 'views.new_spreadsheet' %></div>
      <%= render 'form', spreadsheet: @spreadsheet %>
    </div>
  </div>
<% end %>
