<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_spreadsheet_path(@spreadsheet.user, @spreadsheet) %> |
<%= link_to 'Back', user_path(@spreadsheet.user) %>

<p>
  <strong>Name:</strong>
  <%= @spreadsheet.name %>
</p>

<p>
  <strong>Initial page:</strong>
  <%= @spreadsheet.initial_page %>
</p>

<!--<p>-->
  <!--<strong>User:</strong>-->
  <!--<%= @spreadsheet.user %>-->
<!--</p>-->

<h3>Pages:</h3>

<%= render 'pages/page' %>
