<%= render 'layouts/nav_menu_and_view' do %>

<div class="spreadsheet">
  <p id="notice"><%= notice %></p>

  <%= link_to user_spreadsheet_path(@user, @spreadsheet), method: :delete,
      class: 'button-box destroy', data: {confirm: t('views.spreadsheet_destroy_alert')} do %>
    <%= fa_icon 'trash-o' %><%= t 'views.destroy' %>
  <% end %>
  <%= link_to edit_user_spreadsheet_path(@user, @spreadsheet), class: 'button-box' do %>
    <%= fa_icon 'edit' %><%= t 'views.edit' %>
  <% end %>
  <%= link_to user_spreadsheets_path(@user), class: 'button-box' do %>
    <%= fa_icon 'arrow-left' %><%= t 'views.back' %>
  <% end %>

  <p>
    <strong><%= t Spreadsheet.human_attribute_name :name %>:</strong>
    <%= @spreadsheet.name %>
  </p>

  <p>
    <strong><%= t Spreadsheet.human_attribute_name :initial_page %>:</strong>
    <%= @spreadsheet.initial_page %>
  </p>

  <%= link_to new_user_spreadsheet_page_path(@user, @spreadsheet), class: 'button-box' do %>
    <%= fa_icon 'plus-circle' %><%= t 'views.new_page' %>
  <% end %>
  <%= render 'pages/page' %>
</div>

<% end %>
