<%= render 'layouts/nav_menu_and_view' do %>

<div class="spreadsheet">
  <p id="notice"><%= notice %></p>

  <%= link_to edit_user_spreadsheet_path(@user, @spreadsheet), class: 'button-box' do %>
    <%= fa_icon 'edit' %>Edit
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= @spreadsheet.name %>
  </p>

  <p>
    <strong>Initial page:</strong>
    <%= @spreadsheet.initial_page %>
  </p>

  <%= link_to new_user_spreadsheet_page_path(@user, @spreadsheet), class: 'button-box' do %>
    <%= fa_icon 'plus-cirlce' %>New Page
  <% end %>
  <%= render 'pages/page' %>
</div>

<% end %>
