<%= render 'layouts/nav_menu_and_view' do %>
<div class="user">
  <div class="button-bar">
    <%= link_to user_path(@user), class: 'button-box cancel' do %>
      <%= fa_icon 'times' %><%= t 'views.cancel' %>
    <% end %>
    <%= link_to edit_user_path(@user), class: 'button-box back' do %>
      <%= fa_icon 'arrow-left' %><%= t 'views.back' %>
    <% end %>
  </div>

  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% else %>
    <% @user.errors.full_messages.each do |message| %>
    <p class="alert"><%= message %></p>
    <% end %>
  <% end %>

  <div class="form-box">
    <div class="label">
      <%= t 'views.change_password'  %>
    </div>
    <%= form_with model: @user, url: update_password_user_path(@user),
      local: true do |form| %>
      <div class="field">
        <%= form.label :password, t('views.new_password') %>
        <span class="input-icon"><%= fa_icon 'lock' %></span>
        <%= form.password_field :password, id: :user_password, class: 'offset-for-icon',
          placeholder: t('views.new_password'), autocomplete: 'off' %>
      </div>

      <div class="field">
        <%= form.label :password_confirmation, t('views.new_password_confirmation') %>
        <span class="input-icon"><%= fa_icon 'lock' %></span>
        <%= form.password_field :password_confirmation, id: :user_password_confirmation,
          class: 'offset-for-icon', placeholder: t('views.new_password_confirmation'),
          autocomplete: 'off' %>
      </div>

      <div class="field">
        <%= form.label :current_password, t('views.current_password') %>
        <span class="input-icon"><%= fa_icon 'lock' %></span>
        <%= form.password_field :current_password, id: :user_current_password,
          class: 'offset-for-icon', placeholder: t('views.current_password'),
          autocomplete: 'off' %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
