<div class="overlay">
  <div class="content-wrapper">
    <a class="close">
      <%= fa_icon 'times-circle-o', class: :default %>
      <%= fa_icon 'times-circle', class: :hover %>
    </a>
    <p class="title"><%= title %></p>
    <div class="img-crop-container">
      <img src='' />
    </div>
    <%= button_tag id: 'crop-btn', type: :button do %>
      <%= fa_icon 'check' %><%= t('views.crop') %>
    <% end %>
  </div>
</div>
