<div id="about">
  <h3><%= raw t('views.about_app_title') %></h3>
  <p><%= raw t('views.about_app_text_p1') %></p>
  <p><%= raw t('views.about_app_text_p2') %></p>
  <p><%= raw t('views.about_app_text_open_source') %></p>
  <h4><%= t 'views.about_ngo_title' %></h4>
  <p><%= t 'views.about_ngo_text_p1' %><i><%= t 'views.about_ngo_text_p1_quote'%></i></p>
  <p><%= t 'views.about_ngo_text_p2' %></p>
  <h4><%= t 'views.about_partners_title' %></h4>
  <p><%= raw t ('views.about_partners_devopers') %></p>
  <p><%= raw t ('views.about_partners_crialab') %></p>
</div>
