<h1><%= fa_icon 'info-circle' %> Home#about</h1>
<h4><%= raw t ('views.about_app_title') %></h4>
<p><%= raw t ('views.about_app_text_p1') %></p>
<p><%= raw t ('views.about_app_text_p2') %></p>
<p><%= raw t ('views.about_app_text_devopers') %></p>
<p><%= raw t ('views.about_app_text_open_source') %></p>
<h4><%= t 'views.about_ngo_title' %></h4>
<p><%= t 'views.about_ngo_text_p1' %><i><%= t 'views.about_ngo_text_p1_quote'%></i></p>
<p><%= t 'views.about_ngo_text_p2' %></p>
