<h3><%= raw t('views.contact_dev_title') %></h3>
<p><%= raw t('views.contact_dev') %></p>
<p><%= raw t('views.contact_dev_github') %></p>
<h3><%= raw t('views.contact_ngo_title') %></h3>
<p><%= raw t('views.contact_ngo_email') %></p>
<p><%= raw t('views.contact_ngo_phone1') %></p>
<p><%= raw t('views.contact_ngo_phone2') %></p>
<p><%= raw t('views.contact_ngo_website') %></p>
