<%= form_with(model: user, local: true, html: {multipart: true}) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <span class="input-icon"><%= fa_icon 'user' %></span>
    <%= form.text_field :name, id: :user_name, class: 'offset-for-icon', placeholder: true %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <span class="input-icon"><%= fa_icon 'user' %></span>
    <%= form.text_field :last_name, id: :user_last_name, class: 'offset-for-icon',
      placeholder: true %>
  </div>

  <div class="field">
    <%= label_tag User.human_attribute_name :photo %>
    <div id="user-photo-container">
      <%= image_tag user.photo.url %>
    </div>
    <div class="wrapper-custom-input-file">
      <%= form.file_field :photo, id: :user_photo %>
      <%= form.label :photo, class: 'custom-input-file' do %>
        <%= fa_icon 'upload' %> <%= t 'views.upload_file' %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, t('views.profile') %>
    <%= form.text_area :profile, id: :user_description, class: 'offset-for-icon',
      rows: 15, placeholder: true %>
  </div>

  <% new_user_action = current_page?(new_user_path) %>

  <% unless new_user_action %>
  <div class="edit-sensitive-data">
    <%= label_tag :edit_sensitive_data, 'Editar dados sensíveis:' %>
    <%= check_box_tag :edit_sensitive_data %>
  </div>
  <% end %>

  <div class="field<%= ' sensitive-data' unless new_user_action%>">
    <%= form.label :email %>
    <span class="input-icon"><%= fa_icon 'envelope-square' %></span>
    <%= form.text_field :email, id: :user_email, class: 'offset-for-icon',
        placeholder: true, disabled: !new_user_action %>
  </div>

  <div class="field<%= ' sensitive-data' unless new_user_action%>">
    <%= form.label :password %>
    <span class="input-icon"><%= fa_icon 'lock' %></span>
    <%= form.password_field :password, id: :user_password, class: 'offset-for-icon',
      placeholder: true, disabled: !new_user_action %>
  </div>

  <div class="field<%= ' sensitive-data' unless new_user_action%>">
    <%= form.label :password_confirmation %>
    <span class="input-icon"><%= fa_icon 'lock' %></span>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation,
      class: 'offset-for-icon', placeholder: true, disabled: !new_user_action %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
