<%= render 'layouts/nav_menu_and_view' do %>

<div class="user">
  <p id="notice"><%= notice %></p>

  <%= link_to edit_user_path(@user), class: 'button-box' do %>
    <%= fa_icon 'edit' %><%= t 'views.edit' %>
  <% end %>

  <p>
    <strong><%= t User.human_attribute_name :name %>:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong><%= t User.human_attribute_name :last_name %>:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong><%= t User.human_attribute_name :email %>:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong><%= t 'view.about_me' %>:</strong>
    <%= @user.profile %>
  </p>

  <% if @user.picture.present? %>
  <p>
    <strong><%= t 'views.user_picture' %>:</strong>
    <div class="user-picture">
      <img src="<%= @user.picture %>" alt="<%= t 'views.user_picture' %>" />
    </div>
  </p>
  <% end %>
</div>

<% end %>
