<%= form_with(model: [current_user, item], local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_name %>
  </div>

  <div class="field">
    <%= form.label :speech %>
    <%= form.text_field :speech, id: :item_speech %>
  </div>

  <div class="field">
    <%= label_tag Item.human_attribute_name :image %>
    <div id="item-image-container">
      <% if item.image.present? %>
      <%= image_tag item.image %>
      <% end %>
    </div>
    <div class="wrapper-custom-input-file">
      <%= form.file_field :image, id: :item_image %>
      <%= form.label :image, class: 'custom-input-file' do %>
        <%= fa_icon 'upload' %> <%= t 'views.upload_file' %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :category_id, Category.model_name.human %>
    <%= select_tag :category_id, options_for_select(select_options_helper) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
