<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_name %>
  </div>

  <div class="field">
    <%= form.label :speech %>
    <%= form.text_field :speech, id: :item_speech %>
  </div>

  <div class="field">
    <%= form.label :img_src %>
    <%= form.text_field :img_src, id: :item_img_src %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id, id: :item_category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
