<%= form_with(model: item, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_name %>
  </div>

  <div class="field">
    <%= form.label :speech %>
    <%= form.text_field :speech, id: :item_speech %>
  </div>

  <div class="field">
    <%= form.label :img_src %>
    <%= form.text_field :img_src, id: :item_img_src %>
  </div>

  <div class="field">
    <%= form.label :category_id, Category.model_name.human %>
    <%= select_tag :category_id, options_for_select(select_options_helper) , include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
