<div class="form-box">
  <%= form_with scope: :item, method: :get do |form| %>
    <div class="field">
      <%= form.label t('views.name') %>
      <%= form.text_field :name, id: :item_name %>
    </div>
    <div class="actions">
      <%= form.button :submit, name: :search do %>
        <%= fa_icon 'search' %><%= t 'views.search' %>
      <% end %>
    </div>
  <% end %>
</div>
