<%= render 'layouts/nav_menu_and_view' do %>
  <div class="item">
    <% if notice %>
    <p id="notice"><%= notice %></p>
    <% end %>

    <div class="button-bar">
      <% if current_page? user_items_path %>
        <%= link_to new_user_item_path(@user), class: 'button-box' do %>
          <%= fa_icon 'plus-circle' %>New Item
        <% end %>
      <% else %>
        <%= link_to new_user_spreadsheet_page_item_path(@user, @spreadsheet, @page), class: 'button-box' do %>
          <%= fa_icon 'plus-circle' %>New Item
        <% end %>
        <%= link_to user_spreadsheet_page_path(@user, @spreadsheet, @page), class: 'button-box' do %>
          <%= fa_icon 'arrow-left' %>Back
        <% end %>
      <% end %>
    </div>

    <div class="tab-bar">
      <div class="tab user-items-tab active">Items</div>
      <div class="tab search-items-tab">Search Item</div>
    </div>
    <div class='item-lists'>
      <div class="user-items-list active">
        <% if current_page? user_items_path %>
          <%= render 'items/item', items: @items %>
        <% else %>
          <%= render 'items/page_items', items: @items %>
        <% end %>
      </div>
      <div class="search-items-list">
        <%= render 'items/search' %>
        <div id="search-results">
        </div>
      </div>
    </div>
  </div>
<% end %>
