<%= render 'layouts/nav_menu_and_view' do %>
  <div class="item">
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>

      <%= link_to new_user_item_path(@user), class: 'button-box' do %>
        <%= fa_icon 'plus-circle' %><%= t 'views.new_item' %>
      <% end %>

    <p class="item-title"><%= t 'views.my' %> <%= Item.model_name.human(count: 2) %>:</p>

    <% if @items.present? %>
    <div class='item-lists'>
      <%= render 'items/item', items: @items %>
    </div>
    <% else %>
    <p><%= t 'views.no_user_items' %></p>
    <% end %>
  </div>
<% end %>
