<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Speech:</strong>
  <%= @item.speech %>
</p>

<p>
  <strong>Source:</strong>
  <%= @item.img_src %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>

<%= link_to 'Edit', edit_user_item_path(@item) %> |
<%= link_to 'Back', user_items_path %>
