<% items = @page.items %>
<% cols = @page.columns %>
<% rows = @page.rows %>

<% if items.any? %>

  <% items.each_slice(cols*rows).with_index do |page, page_index| %>
  <table class="sliced-page columns-<%= cols < 5 ? cols : 'x' %>" cellspacing="0" cellpadding="0">
    <% page.each_slice(cols).each do |row| %>
    <tr class="row">
      <% row.each do |item| %>
      <td class="cell">
        <div class="card-wrapper">
          <div id="<%= item.id %>" class="card" draggable=true>
            <div class="content <%= css_class_name(item.category) %>">
              <div class="name"><%= item.name %></div>
              <% if item.link_to %>
              <div class="link-to"><%= fa_icon 'external-link' %></div>
              <% end %>
              <div class="img-wrapper">
                <%= image_tag item.image.image, alt: item.name, draggable: false %>
              </div>
            </div>
          </div>
          <%= edit_item_button item.id, item.private? %>
          <%= remove_item_button item.id, item.item_page_id %>
        </div>
      </td>
      <% end %>
      <% if row.size != cols %>
      <td class="cell">
        <div class="card-wrapper">
          <div class="card">
            <%= add_item_button %>
          </div>
        </div>
      </td>
        <% 1.upto(cols - row.size - 1).each do %>
      <td class="cell">
        <div class="card-wrapper">
        </div>
      </td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
    <% if items.size % cols == 0 and items.size % (cols*rows) != 0 and items.size / (cols*rows) == page_index %>
      <tr class="row">
        <td class="cell">
          <div class="card-wrapper">
            <div class="card">
              <%= add_item_button %>
            </div>
          </div>
        </td>
        <% 1.upto(cols - 1).each do %>
        <td class="cell">
          <div class="card-wrapper">
          </div>
        </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <hr />
  <% end %>
  <% if items.size % (cols*rows) == 0 %>
  <table class="sliced-page columns-<%= cols %>" cellspacing="0" cellpadding="0">
    <tr class="row">
      <td class="cell">
        <div class="card-wrapper">
          <div class="card">
            <%= add_item_button %>
          </div>
        </div>
      </td>
      <% 1.upto(cols - 1).each do %>
      <td class="cell">
        <div class="card-wrapper">
        </div>
      </td>
      <% end %>
    </tr>
  </table>
  <hr />
  <% end %>

<% else %>

  <table class="sliced-page columns-<%= cols %>" cellspacing="0" cellpadding="0">
    <tr class="row">
      <td class="cell">
        <div class="card-wrapper">
          <div class="card">
            <%= add_item_button %>
          </div>
        </div>
      </td>
      <% 1.upto(cols - 1).each do %>
      <td class="cell">
        <div class="card-wrapper">
        </div>
      </td>
      <% end %>
    </tr>
  </table>

<% end %>
