<% if items.empty? %>
  <div class="items">
    <div class="items-list page">
      <div class="page-row columns-<%= columns %>">
        <%= add_item_button %>
      </div>
    </div>
  </div>
<% else %>
  <% items.each_slice(columns * rows) do |page| %>
    <div class="items">
      <div class="items-list page">

      <% page.each_slice(columns) do |row| %>
        <div class="page-row columns-<%= columns %>">
          <% row.each do |item| %>
            <% content_for :item_menu, flush: true do %>
              <%= page_item_menu_icon(item) %>
            <% end %>

            <% if item.link_to? %>
              <% content_for :item_link_to, flush: true do %>
                <div class="link-to">
                  <%= fa_icon 'external-link' %>
                </div>
              <% end %>
            <% else %>
              <% content_for :item_link_to, '', flush: true %>
            <% end %>
            
            <%= render 'items/item', item: item %>
          <% end %>
          <%= add_item_button if row.length != columns %>
        </div>
      <% end %>
      <% if page.length % (columns * rows) != 0 && page.length % columns == 0 %>
        <div class="items">
          <div class="items-list page">
            <div class="page-row columns-<%= columns %>">
              <%= add_item_button %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <hr />
  <% end %>
  <% if items.length % (columns * rows) == 0 %>
    <div class="items">
      <div class="items-list page">
        <div class="page-row columns-<%= columns %>">
          <%= add_item_button %>
        </div>
      </div>
    </div>
  <hr />
  <% end %>
<% end %>
