  <div class="page">
    <%= render 'shared/error', model: @page %>

    <div class="button-bar">
      <%= link_to user_spreadsheet_page_path(@user, @spreadsheet, @page), class: 'button-box cancel' do %>
        <%= fa_icon 'times' %><%= t '.cancel' %>
      <% end %>
    </div>

    <div class="form-box">
      <div class="label"><%= t '.edit' %></div>

      <%= render 'form', page: @page %>
    </div>
  </div>
