  <div class="pages">
    <p id="notice"><%= notice %></p>

    <%= link_to user_spreadsheet_page_path(@user, @spreadsheet, @page), method: :delete,
        class: 'button-box destroy', data: {confirm: t('.destroy_alert')} do %>
      <%= fa_icon 'trash-o' %><%= t '.destroy' %>
    <% end %>

    <%= link_to edit_user_spreadsheet_page_path(@user, @spreadsheet, @page),
      class: 'button-box' do %>
      <%= fa_icon 'edit' %><%= t '.edit' %>
    <% end %>

    <%= link_to user_spreadsheet_path(@user, @spreadsheet), class: 'button-box' do %>
      <%= fa_icon 'arrow-left' %><%= t '.back' %>
    <% end %>

    <%= link_to pdf_user_spreadsheet_page_path(@user, @spreadsheet, @page, format: :pdf),
      class: 'button-box' do %>
      <%= fa_icon 'print' %><%= t '.print' %>
    <% end %>

    <%#= link_to user_spreadsheet_page_items_path(@user, @spreadsheet, @page), class: 'button-box' do %>
      <%#= fa_icon 'plus' %><%#= Add Item %>
    <%# end %>

    <p>
      <strong><%= Page.human_attribute_name :name %>:</strong>
      <%= @page.name %>
    </p>

    <p>
      <strong><%= Page.human_attribute_name :columns %>:</strong>
      <%= @page.columns %>
    </p>

    <p>
      <strong><%= Page.human_attribute_name :rows %>:</strong>
      <%= @page.rows %>
    </p>

    <%# TODO: REVIEW %>
    <div class="tab-bar">
      <div class="tab page-items-tab active"><%= Item.model_name.human(count: 2) %></div>
      <%# <div class="tab page-mobile-tab">%><%#= t '.mobile_view' %><%# </div> %>
      <div class="tab page-mobile-tab">&nbsp;</div>
    </div>

    <div class="item-lists">
      <div class="page-items active">
        <%= render 'pages/items', columns: @page.columns, items: @page.items, rows: @page.rows %>
      </div>

      <div class="page-mobile-view">
        <%#= render 'items/item', items: @page.items %>
      </div>
    </div>
  </div>
