<div class="overlay">
  <div class="search-item">
    <a class="close">
      <%= fa_icon 'times-circle-o', class: :default %>
      <%= fa_icon 'times-circle', class: :hover %>
    </a>
    <div class="form-box">
      <%= form_with url: user_spreadsheet_page_search_item_path(@user, @spreadsheet, @page),
          method: :get do |form| %>
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, id: :item_name %>
        </div>
        <div class="actions">
          <%= form.button :submit, name: :search do %>
            <%= fa_icon 'search'%><%= t 'views.search' %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div id="search-items-result">
    </div>
  </div>
</div>
