<div class="overlay">
  <div class="search-item">
    <a class="close">
      <%= fa_icon 'times-circle-o', class: :default %>
      <%= fa_icon 'times-circle', class: :hover %>
    </a>
    <div class="form-box">
      <%= form_with url: update_item_user_spreadsheet_page_path(@user, @spreadsheet, @page),
                    method: :put do |form| %>
        <%= form.hidden_field :item_id, value: item.id %>
        <div class="field">
          <%= form.label :page_id, Page.model_name.human %>
          <%= select_tag :page_id,
                options_for_select(select_pages_options_helper, @page.get_linked_page_id(item.id)),  include_blank: true %>
        </div>
        <div class="actions">
          <%= form.button :submit, name: :save do %>
            <%= fa_icon 'floppy-o' %><%= t 'views.save' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
