<%= form_with(model: [:user, :spreadsheet, page], local: true) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :page_name %>
  </div>

  <div class="field">
    <%= form.label :columns %>
    <%= form.number_field :columns, id: :page_columns %>
  </div>

  <div class="field">
    <%= form.label :rows %>
    <%= form.number_field :rows, id: :page_rows %>
  </div>

  <!--<div class="field">-->
    <!--<%= form.label :spreadsheet_id %>-->
    <!--<%= form.text_field :spreadsheet_id, id: :page_spreadsheet_id %>-->
  <!--</div>-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
