<%= form_with(model: [:user, :spreadsheet, page], local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :page_name %>
  </div>

  <div class="field">
    <%= form.label :columns %>
    <%= form.number_field :columns, id: :page_columns, min: 1 %>
  </div>

  <div class="field">
    <%= form.label :rows %>
    <%= form.number_field :rows, id: :page_rows, min: 1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
