<div class="list">
  <strong><%= Page.model_name.human(count: 2) %>:</strong>
  <ul>
  <% @pages.each do |page| %>
    <li><%= link_to page.name, user_spreadsheet_page_path(@user, @spreadsheet, page) %></li>
  <% end %>
  </ul>
</div>


<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Columns</th>
      <th>Rows</th>
      <!--<th>Spreadsheet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= page.columns %></td>
        <td><%= page.rows %></td>
        <!--<td><%= page.spreadsheet %></td>
        <td><%= link_to 'Show', user_spreadsheet_page_path(page.spreadsheet.user, page.spreadsheet, page) %></td>
        <td><%= link_to 'Edit', edit_user_spreadsheet_page_path(page.spreadsheet.user, page.spreadsheet, page) %></td>
        <td><%= link_to 'Destroy', user_spreadsheet_page_path(page.spreadsheet.user, page.spreadsheet, page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
