<% if items.empty? %>
  <p>
    <%= t 'views.no_item_was_found' %>
  </p>
<% else %>
  <% items.each do |item| %>
    <div class="item-result">
      <div class="item-result-img <%= css_class_name(item.category) %>">
        <img src="<%= item.img_src %>"/>
      </div>

      <p>
        <strong><%= Item.human_attribute_name :name %>:</strong>
        <%= item.name %>
      </p>

      <p>
        <strong><%= Item.human_attribute_name :speech %>:</strong>
        <%= item.speech %>
      </p>
      <p>
        <strong><%= Category.model_name.human %>:</strong>
        <%= display_name item.category %>
      </p>

      <%# TODO: refactoring %>
      <% if item.in_page? @page %>
        <span class="already"><%= t 'views.item_already_in_this_page' %></span>
      <% else @page %>
        <%= button_to({action: 'add_to_page'}, remote: true, params: {item_id: item.id}, class: 'button-box') do %>
          <%= fa_icon 'plus-circle' %><%= t 'views.add_to_page' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
