<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Columns:</strong>
  <%= @page.columns %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @page.rows %>
</p>

<p>
  <strong>Spreadsheet:</strong>
  <%= @page.spreadsheet %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
