<%= link_to 'Edit', edit_user_spreadsheet_page_path(@page.spreadsheet.user, @page.spreadsheet, @page) %> |
<%= link_to 'Back', user_spreadsheet_path(@page.spreadsheet.user, @page.spreadsheet) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Columns:</strong>
  <%= @page.columns %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @page.rows %>
</p>

<!--<p>-->
  <!--<strong>Spreadsheet:</strong>-->
  <!--<%# @page.spreadsheet %>-->
<!--</p>-->

<h3>Items</h3>

<%= render 'items/item' %>
