<%= form_with(model: [current_user, item], local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_name %>
  </div>

  <div class="field">
    <%= form.label :speech %>
    <%= form.text_field :speech, id: :item_speech %>
  </div>

  <div class="field">
    <%= label_tag Item.human_attribute_name :image %>
    <div id="item-image-container">
      <div id="item-image-wrapper">
        <% if item.image? %>
        <%= image_tag item.image.image, id: 'item-image' %>
        <% end %>
      </div>
    </div>
    <div class="wrapper-custom-input-file"
      data-unsupported-image-type="<%= t 'views.unsupported_image_type' %>">
      <%= form.fields_for :image do |image| %>
        <% [:crop_x, :crop_y, :crop_w, :crop_h].each do |attribute| %>
          <%= image.hidden_field attribute, id: attribute %>
        <% end %>
        <%= image.file_field :image %>
        <%= image.label :image, class: 'custom-input-file' do %>
          <%= fa_icon 'upload' %> <%= t 'views.upload_file' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :item_category_id, Category.model_name.human %>
    <%= form.select :category_id,
          options_for_select(select_options_for_categories, item.category_id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= render 'shared/modal_image_crop', title: t('views.crop_title') %>
