<%= render 'layouts/nav_menu_and_view' do %>
<div class="item">
  <div class="button-bar">
    <%= link_to user_item_path(@user, @item), class: 'button-box cancel' do %>
      <%= fa_icon 'times' %><%= t 'views.cancel' %>
    <% end %>
  </div>

  <%= render 'shared/error', model: @item %>
  <div class="form-box">
    <div class="label"><%= t 'views.edit'  %> </div>
    <%= render 'form', item: @item %>
  </div>
</div>
<% end %>
