<div class="items">
  <div class="button-bar">
    <%= link_to user_item_path(@user, @item), class: 'button-box cancel' do %>
      <%= fa_icon 'times' %><%= t '.cancel' %>
    <% end %>
  </div>

  <%= render 'shared/error', model: @item %>

  <div class="form-box">
    <div class="label"><%= t '.edit'  %></div>

    <%= render 'form', item: @item %>
  </div>
</div>
