<div class="items">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div class="actions-bar">
    <% if params[:name] %>
    <div id="item-search-results">
      <span><%= t '.filter.noun' %>:</span>
      <%= link_to private_items_user_path(@user), class: 'button-box' do %>
        <%= fa_icon 'remove' %><%= t '.filter.name' %>: <%= params[:name] %>
      <% end %>
    </div>
    <% else %>
    <div class="search" id="items-search-area">
      <%= text_field_tag :name%>

      <%= button_tag class: 'button-box', disabled: true,
        data: { path: private_items_user_path(@user) } do
      %>
        <%= fa_icon 'filter' %><%= t '.filter.verb' %>
      <% end %>
    </div>
    <% end %>

    <div class="button-group">
      <%= link_to new_user_item_path(@user) do %>
        <%= fa_icon 'plus-circle' %><%= t '.new' %>
      <% end %>

      <%= link_to destroy_multiple_user_items_path(@user, ids: ''),
        method: :delete, data: { confirm: t('.destroy_multiple_alert') },
        id: 'items-delete-button', class: 'destroy' do
      %>
        <%= fa_icon 'trash-o' %><%= t '.delete' %>
      <% end %>
    </div>
  </div>

  <% if @items.present? %>
    <div class="items-list">
      <% @items.each do |item| %>
        <% if item.private? %>
          <%= render 'items/item', item: item %>
        <% end %>
      <% end %>
    </div>

    <% if local_assigns[:paginate] %>
      <%= will_paginate @items, param_name: :offset, class: 'paginate',
        params: { name: params[:name] }
      %>
    <% end %>
  <% elsif params[:name] %>
    <p><%= t '.filter.no-results' %></p>
  <% else %>
    <p><%= t '.none' %></p>
  <% end %>
</div>
