<div class="items">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <p>
    &nbsp;
    <%= link_to new_user_item_path(@user), class: 'button-box' do %>
      <%= fa_icon 'plus-circle' %><%= t '.new' %>
    <% end %>
  </p>

  <% if @items.present? %>
    <div class="items-list">
      <% @items.each do |item| %>
        <% if item.private? %>
          <%= render 'items/item', item: item %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p><%= t '.none' %></p>
  <% end %>
</div>
