<%= render 'layouts/nav_menu_and_view' do %>
<div class="item">
  <p id="notice"><%= notice %></p>

  <div class="button-bar">
  <%= link_to user_item_path(@user, @item), method: :delete, class: 'button-box destroy',
    data: {confirm: t('views.item_destroy_alert')} do %>
    <%= fa_icon 'trash-o' %><%= t 'views.destroy' %>
  <% end %>
  <%= link_to edit_user_item_path(@user, @item), class: 'button-box',
    data: {confirm: t('views.item_edit_alert')} do %>
    <%= fa_icon 'edit' %><%= t 'views.edit' %>
  <% end %>
  <%= link_to user_items_path(@user), class: 'button-box' do %>
    <%= fa_icon 'arrow-left' %><%= t 'views.back' %>
  <% end %>
  <%= link_to pdf_user_item_path(@user, @item, format: :pdf), class: 'button-box' do %>
    <%= fa_icon 'print' %><%= t 'views.print' %>
  <% end %>
  </div>

  <p>
    <strong><%= Item.human_attribute_name :name %>:</strong>
    <%= @item.name %>
  </p>

  <p>
    <strong><%= Item.human_attribute_name :speech %>:</strong>
    <%= @item.speech %>
  </p>

  <p>
    <strong><%= Category.model_name.human %>:</strong>
    <%= @item.category.description %>
  </p>

  <p>
    <strong><%= Item.human_attribute_name :image %>:</strong>
    <div class="item-image">
      <%= image_tag @item.image.image, alt: @item.name %>
    </div>
  </p>
</div>
<% end %>
