<div id="contact">
  <h3><%= raw t('.dev_title') %></h3>
  <p><%= raw t('.dev') %></p>
  <p><%= raw t('.dev_github') %></p>
  <h3><%= raw t('.ngo_title') %></h3>
  <p><%= raw t('.ngo_email') %></p>
  <p><%= raw t('.ngo_phone1') %></p>
  <p><%= raw t('.ngo_phone2') %></p>
  <p><%= raw t('.ngo_website') %></p>
</div>
