<div class="spreadsheet">
  <%= render 'shared/error', model: @spreadsheet %>

  <div class="button-bar">
    <%= link_to user_spreadsheet_path(@user, @spreadsheet), class: 'button-box cancel' do %>
      <%= fa_icon 'times' %><%= t '.cancel' %>
    <% end %>
  </div>

  <div class="form-box">
    <div class="label"><%= t '.edit' %></div>

    <%= render 'form', spreadsheet: @spreadsheet %>
  </div>
</div>
