<%= render :partial => 'shared/flash' %>
<%= render 'layouts/nav_menu_and_view' do %>
  <div class="spreadsheet">
    <% if notice %>
    <p id="notice"><%= notice %></p>
    <% end %>
    <div class="button-bar">
      <%= link_to new_user_spreadsheet_path, class: 'button-box' do %>
        <%= fa_icon 'plus-circle' %><%= t 'views.new_spreadsheet' %>
      <% end %>
    </div>
    <%#= render 'shared/mobile' do %>
      <%= render 'spreadsheets/spreadsheet' %>
    <%# end %>
  </div>
<% end %>
