<%= render :partial => 'shared/flash' %>
<div class="spreadsheet">
  <% if notice %>
  <p id="notice"><%= notice %></p>
  <% end %>
  <div class="button-bar">
    <%= link_to new_user_spreadsheet_path, class: 'button-box' do %>
      <%= fa_icon 'plus-circle' %><%= t '.new' %>
    <% end %>
  </div>
  <% if @spreadsheets.present? %>
    <%= render 'spreadsheets/spreadsheet' %>
  <% else %>
  <p><%= t '.none' %></p>
  <% end %>
</div>
