<div class="nav-bar">
  <div class="logo">
    <%= image_tag 'falaeLogotipo_64.png' %>
  </div>

  <div class="links">
    <%= link_to home, class: "#{:active if current_page? home}" do %>
      <%= fa_icon 'home' %> <%= t 'views.home' %>
    <% end %>
    <%= link_to about_path, class: "#{:active if current_page? about_path}" do %>
      <%= fa_icon 'info-circle' %> <%= t 'views.about' %>
    <% end %>
    <%= link_to contact_path, class: "#{:active if current_page? contact_path}" do %>
      <%= fa_icon 'envelope' %> <%= t 'views.contact' %>
    <% end %>
  </div>

  <div class="session">
    <% if logged_in? %>
      <span class="welcome"><%= t 'views.welcome' %>, <%= link_to current_user.name,
            user_spreadsheets_path(current_user), class: 'user-name' %>!</span>
      <span class="logout"><%= link_to logout_path, method: :delete do %>
              <%= fa_icon 'sign-out' %> <%= t 'views.log_out' %>
            <% end %></span>
    <% else %>
      <%= link_to login_path, class: "#{:active if controller_name.in? 'sessions'}" do %>
        <%= fa_icon 'sign-in' %> <%= t 'views.log_in' %>
      <% end %>
      <%= link_to new_user_path, class: "#{:active if controller_name.in? 'users'}" do %>
        <%= fa_icon 'user-plus' %> <%= t 'views.register' %>
      <% end %>
    <% end %>
  </div>
</div>
