<div class="nav-menu">
  <ul>
    <%= content_tag :li, class: "menu-item #{:active if controller_name.in? 'users'}" do %>
      <%= link_to t('.profile'), user_path(current_user) %>
    <% end %>

    <%= content_tag :li, class: "menu-item #{:active if controller_name.in? ['spreadsheets', 'pages']}" do %>
      <%= link_to Spreadsheet.model_name.human(count: 2), user_spreadsheets_path(current_user) %>
    <% end %>

    <%= content_tag :li, class: "menu-item #{:active if controller_name.in? 'items'}" do %>
      <%= link_to "#{t('.my')} #{Item.model_name.human(count: 2)}", private_items_user_path(current_user) %>
    <% end %>
  </ul>
</div>
